<link rel="stylesheet" href="/css/carte_question.css">


<div class="body_carte_question">
    <section class="question">
        <div class="la_question">
            <p id="question">

            </p>
        </div>
    </section>
    <section class="reponse">
        <div id="answers">

        </div>

                <div id="valider">
                     <p>
                        <a href="#" onclick="valid()">Valider</a>
                     </p>
                </div>
            
    
    </section>
</div>
