<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/startGame.css">

        <title>Home</title>
    </head>

    <body>
        <h1 class="contactTitle">CONTACT</h1>
        <div class="contactDiv">
            Tout pour contacter si besoin
        </div>
    </body>

    <footer>
        <div class="footer"><a class="aFooter" href="/mentionLegale">mentions légales</a></div>
        <div class="footer"><a class="aFooter" href="/donneesPerso">données personnelles</a></div>
        <div class="footer"><a class="aFooter" href="/cookies">cookies</a></div>
        <div class="footer">avec le soutien du CESI de Lagord</div>
        <div class="footer">tous droits réservés 2022</div>
    </footer>
</html>