<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/cookies.css">

        <title>Home</title>
        <%- include ("headerPasPourLeMain.ejs") %>
    </head>

    <body>
        <div class="cookiesInfo">
            <h1>COOKIES</h1>
            <h2>DONNÉES DE CONNEXION, TRACEURS ET COOKIES</h2>
            <h3>Qu’est-ce qu’un Cookie ? Qu’est-ce qu’un traceur ?</h3>
            <div>
                Un Cookie, aussi appelé « témoin de connexion », appartient à la famille des « traceurs ». C’est un fichier texte déposé dans un espace dédié de votre ordinateur ou périphérique portable lors de la consultation d’un site web.<br><br>

                Un Cookie permet, pendant la durée de sa validité, de reconnaître l’ordinateur ou périphérique portable que vous utilisez à chaque fois que vous accédez à notre site web. Il ne vous identifie pas personnellement, mais reconnait uniquement le navigateur web de votre ordinateur ou périphérique portable.<br><br>

                Aujourd’hui, il existe d’autre types de traceurs. Par exemple, nous utilisons le pixel invisible, aussi nommé GIF transparents ou balise d’action. C’est un fragment de code qui se présente sous la forme d’une image minuscule sur la page web. Il permet de reconnaître l’heure et la date de la consultation d’une page et de collecter des informations techniques comme l’adresse IP ou la configuration de la machine.<br><br>

                Les Cookies, traceurs et informations récoltées via ces moyens sont conservés pour une durée maximum de 13 mois.<br><br>

                Certains Cookies et traceurs procèdent à des transferts de données vers les sociétés GOOGLE et FACEBOOK établies aux Etats-Unis. Ces sociétés ont adhéré au Privacy Shield, mécanisme d’autocertification pour les entreprises établies aux États-Unis qui a été reconnu par la Commission européenne comme offrant un niveau de protection adéquat aux données personnelles transférées par une entité européenne vers des entreprises établies aux États-Unis. Pour plus d’informations, vous pouvez consulter le site de la CNIL au lien suivant : https ://www.cnil.fr/fr/le-privacy-shield<br><br>
                Vous pouvez exercer vos droits sur vos données personnelles dans les mêmes conditions prévues au sein de la section 1 de notre Politique de données personnelles.<br><br>

                Afin de respecter l’obligation de transparence imposée par le RGPD, nous détaillons ci-dessous les différents traceurs que nous utilisons sur notre site web.<br><br>
            </div>
            <h3>Nos Cookies techniques</h3>
            <div>
                Notre site n'utilise pas de cookies ce qui permet de ne pas stocker de données personnelles et d'assurer un anonymat optimale sur notre site. Ce principe permet d'assurer une technologie green IT.
            </div>
        </div>
    </body>

    <%- include ("footer.ejs") %>

</html>