<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/donneesPerso.css">

        <title>Home</title>
    </head>

    <body>
        <%- include ("headerPasPourLeMain.ejs") %>

        <div class="perso">
            <h1 class="donneepers">DONNEES PERSONNELLES</h1>
            <div class="donneeP">
                La présente Politique de protection des données à caractère personnel a pour objectif de définir les principes et lignes directrices mis en œuvre par SIS-Association en matière de traitement des données à caractère personnel des utilisateurs des sites internet administrés par l’association.<br>
                La notion de « données à caractère personnel » ou « données personnelles » correspond à la définition donnée par l’article 4 du Règlement Général de l’Union Européenne sur la protection des Données (RGPD 2016/679) c’est-à-dire à toute information susceptible de permettre l’identification d’une personne physique de manière directe ou indirecte : nom, prénom, adresse IP, adresse email, etc.<br>
                SISerious Game affirme son attachement au respect des lois et règlements applicables en matière de protection des données, et s’engage à préserver leur sécurité, leur confidentialité et leur intégrité.<br>
                SISerious Game s’engage formellement à ne vendre, louer, échanger ou céder à titre gratuit aucune information personnelle. Aucune Information n'est stockée sur ce site.<br>
            </div>
        </div>
    </body>

    <%- include ("footer.ejs") %>

</html>