
<link rel='stylesheet' type='text/css' media='screen' href='/css/easterEgg.css'>

<h1>METTEZ DES CAPOTES</h1>
<div class="capote">
    <img src="/image/capote.jpg" alt="capote">  
    <img src="/image/capote.jpg" alt="capote"> 
    <img src="/image/capote.jpg" alt="capote"> 
    <img src="/image/capote.jpg" alt="capote"> 
    <img src="/image/capote.jpg" alt="capote"> 
    <img src="/image/capote.jpg" alt="capote"> 
    <img src="/image/capote.jpg" alt="capote"> 
    <img src="/image/capote.jpg" alt="capote"> 
</div>