<link rel="stylesheet" type="text/css" href="/css/footer.css">

<footer>
    <div class="liens">
        <div class="footer"><a class="footer" href="/mentions">Mentions légales</a></div>
        <div class="footer"><a class="footer" href="/donnees">Données personnelles</a></div>
        <div class="footer"><a class="footer" href="/cookies">Cookies</a></div>
    </div>
    <div class="pas_liens">
        <div class="footer">Avec le soutien du CESI de Lagord</div>
        <div class="footer">Tous droits réservés 2022</div>
    </div>
</footer>