<link rel="stylesheet" type="text/css" href="/css/headerMaisPasMain.css">

<header>

    <a href="https://www.sida-info-service.org/" target="_blank"><img src="/css/images/logoSidaction.png" alt="Logo du Sidaction"></a>
    <a class="footer" href="/">Accueil</a>
    <a class="footer" href="/game">Le jeu</a>
    <a class="footer" href="/liensUtiles">Les liens utiles pour s'informer</a>

</header>