<link rel="stylesheet" type="text/css" href="/css/header.css">

<header>
    <img class="imageSida" src="/css/images/logoSidaction.png" alt="erreur d'affichage">
    <div class="titleHeader">
        <p>
            SISerious game
        </p>
    </div>
</header>