<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/liensUtiles.css">

        <title>Liens utiles</title>
    </head>

    <body>
        <%- include ("headerPasPourLeMain.ejs") %>
        <div class="mention">
        <h1 class="titleListe">Liste des liens utiles si besoin. N'hésitez pas à les consulter, c'est important !!</h1>

        <div class="liensUtiles">
            Si vous venez d'être exposé au VIH il y a moins de 48h et que vous ne savez pas quoi faire, ni où aller, consulter <a class="lienUtileSIS" href="https://www.sida-info-service.org/risque-moins-de-48-heures/">ce lien.</a><br>
        </div>
        <div class="liensUtiles">
            Si vous venez d'être exposé il y a plus de 48h, consultez <a class="lienUtileSIS" href="https://www.sida-info-service.org/risque-vih-plus-de-48-heures/">ce lien.</a><br>
        </div>
        <div class="liensUtiles">
            Pour consulter des témoignages ainsi que des études, vous serez ravis de consulter <a href="https://www.sida-info-service.org/categorie/dossiers/etudes/">ce lien.</a><br>
        </div>
        <div class="liensUtiles">
            La santé des personnes LGBTI est également évoquée sur <a class="liensUtiles" href="https://www.sida-info-service.org/sante-des-personnes-lgbt-paris/"> ce lien</a> ainsi que la santé des migrants sur <a class="liensUtiles" href="https://www.sida-info-service.org/sante-des-migrants/">ce lien</a> mais également la santé des sourds et malentendants sur <a class="liensUtiles" href="https://www.sida-info-service.org/sante-des-sourds-et-malentendants/"> ce lien.</a><br>
        </div>

        <div class="liensUtiles">
            Pour en savoir plus sur les IST : <a href="https://www.sida-info-service.org/definition-ist/">cliquez ici</a><br>
            Pour en savoir plus sur les hépatites : <a href="https://www.sida-info-service.org/les-hepatites-sont-elles-des-ist/">cliquez ici</a><br>
            Pour en savoir plus si une IST est grave : <a href="https://www.sida-info-service.org/une-ist-ca-peut-etre-grave-2/">cliquez ici</a><br>
            Pour en savoir plus sur la protection contre les IST : <a href="https://www.sida-info-service.org/les-ist-ne-sont-pas-a-negliger/">cliquez ici</a><br>
            Pour en savoir plus sur le diagnostique des IST : <a href="https://www.sida-info-service.org/comment-savoir-si-on-a-une-ist/">cliquez ici</a><br>
            Pour en savoir plus sur des potentielles questions fréquentes : <a href="https://www.sida-info-service.org/categorie/questions-frequentes/foire-aux-questions-ist/">cliquez ici</a><br>
            <div class="easterEgg">
                Pour en savoir plus sur d'autres choses : <a href="/easterEgg">cliquez ici</a><br>
            </div>
        </div>
    </div>
    </body>

    <%- include ("footer.ejs") %>

</html>