<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/main.css">

        <title>Home</title>
    </head>


    <body>

        <%- include("header.ejs") %>

        <section class="big_sec">
            <section>
                <div class="slogan">
                    <div class="div1">
                        <p>
                            SE RENSEIGNER
                            C'EST S'ASSUMER
                        </p>
                    </div>
                    <div class="decouvrir">
                        <a href="/game"><p>Découvrir</p></a>
                    </div>
                </div>
            </section>
            <section class="image">
                <img class="logo" src="/css/images/logo.png" alt="erreur d'affichage">
            </section>
        </section>
    </body>

    <%- include ("footer.ejs") %>

</html>