<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/mentionLegale.css">

        <title>Home</title>
    </head>


    <body>
        <%- include ("headerPasPourLeMain.ejs") %>
        <div class="mention">
            <h1 class="mentionLegaleTitle">MENTIONS LEGALES</h1>
            <div class="mentionLegale">
                Le présent site Internet SISerious Game est la propriété de SISerious Game, association nationale de lutte contre le VIH/sida, les Infections Sexuellement Transmissibles (IST), les hépatites et pour la santé sexuelle. Le site est édité et hébergé par SISerious Game.<br><br>

                Le site a pour mission de : fournir des informations générales et actualisées sur le VIH/sida, de soutenir les personnes concernées et/ou leur entourage, d’orienter les usagers vers les services de proximité les plus adaptés à leurs besoins (associations, professionnels de santé, réseaux, services administratifs, soins). Ces missions se font dans le respect du droit et de la dignité des personnes et dans une démarche de non-jugement sur les croyances, les comportements et les modes de vie. L’information délivrée sur le site Internet n’est pas destinée à remplacer les relations patiente-s/médecin-s/professionnel-le-s de santé. Elle ne saurait remplacer une consultation auprès d’un médecin. Ce site a pour but de sensibiliser les jeunes ainsi que les moins jeunes grâce à un serious game.<br><br>
            </div>

            <h2 class="mentionLegaleTitle2">Contacts utiles</h2>
            <div class="mentionLegale">
                Il est possible de contacter l'équipe de développement de ce site par le numéro de téléphone suivant : 0782058609
            </div>

            <h2 class="mentionLegaleTitle2">Propriété intellectuelle</h2>
            <div class="mentionLegale">
                Le site pris dans sa globalité, ainsi que chacun des éléments qui le compose pris indépendamment, notamment les programmes et développements spécifiques et les contenus incluant des données, textes, images fixes ou animées, logotypes, sons, graphiques, fichiers, sont la propriété exclusive de SIS-Association ou de tiers qui lui ont concédé une licence. Toute représentation totale ou partielle du site ou d’un des éléments qui le composent sans l’autorisation expresse de SISerious Game est interdite et constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.

                Les bases de données figurant sur le site sont protégées par les articles L.341-1 et suivants du Code de la propriété intellectuelle et est sanctionnée toute extraction ou réutilisation qualitativement ou quantitativement substantielle du contenu des bases de données.

                Les marques et les logotypes figurant sur le site sont des marques déposées par SISerious Game  ou par des tiers. Toute reproduction, imitation ou usage, total ou partiel, de ces signes distinctifs sans l’autorisation expresse et en violation des interdictions prévues aux articles L.713-2 et suivants du Code de la propriété intellectuelle engage la responsabilité de leur auteur.

                Les autres signes distinctifs, notamment les dénominations sociales, noms commerciaux, enseignes, noms de domaine reproduits sur le site sont la propriété de SISerious Game ou des tiers et toute reproduction sans autorisation expresse est susceptible de constituer une usurpation engageant la responsabilité de son auteur sur le fondement de l’article 1382 du Code civil.
            </div>

            <h2 class="mentionLegaleTitle2">Mise en garde sur les informations</h2>
            <div class="mentionLegale">
                SISerious Game ne saurait garantir la complétude, l’actualité et la mise à jour des informations diffusées sur son site Internet. Le visiteur reconnaît utiliser ces informations sous sa responsabilité exclusive. SISerious Game ne pourra être tenue responsable de dommages directs ou indirects résultant d’une erreur ou d’une information consultée sur le site ou un de ses sites liés et d'une manière générale, d'un trouble quelconque, qui pourrait résulter de difficultés liées au fonctionnement du site. Ce site Internet contient des liens vers des sites externes, dont SIS-Association n’est pas responsable du contenu. Les utilisateurs d’un site extérieur ne peuvent établir de liens profonds en direction de ce site sans l’autorisation préalable et écrite de SISerious Game.
            </div>

            <h2 class="mentionLegaleTitle2">Politique éditoriale</h2>
            <div class="mentionLegale">
                Les informations fournies et hébergées sur ce site Internet ont été recherchées et rédigées par des professionnel-le-s qualifié-e-s employé-e-s par SIS-Association (cf équipe éditoriale et comité éditorial). Elles s'appuient sur des données scientifiques validées au niveau national et/ou international. Les données source sont citées lorsqu’elles sont disponibles pour le grand public. Les informations sont présentées de la manière la plus claire possible. Le cadre déontologique et organisationnel au sein duquel les rédacteurs bénévoles et non-bénévoles de l'association travaillent est défini par une charte éditoriale. Si vous souhaitez en savoir plus, veuillez contacter le rédacteur en chef : amiguet[a]sis-association.org <br><br>

                Ce site Internet contient des liens vers des sites externes, dont SIS-Association n’est pas responsable du contenu.<br>
            </div>
        </div>
    </body>

    <%- include ("footer.ejs") %>

</html>